
body {
    margin: 0;
    padding: 10px;
    font-family: 'Comic Neue';
    background-image: url(./asset/mie_background1.jpg);
    background-size: cover;
}

.background {
    padding: 5%;
    width: 80%;  max-width: 80vw;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    margin-inline: auto;
}
